body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

img {
    max-width: 400px;
}

button {
    background-color: #493260;
    color:#E5E7EB;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: none;
}

ul {
    display: flex;
    gap: 35px;
    list-style-type: none;
}

a {
    color:#E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.container, .footer {
    background-color: #786192;
}

.container {
    display: flex;
    flex-direction: column;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    align-items: center;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text p {
    color:#E5E7EB;
    font-size: 18px;
    flex-wrap: wrap;
}

.hero-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin: 50px 240px 80px 240px;
}

.disclaimer p {
    font-size: 12px;
    color:#E5E7EB;   
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    gap: 50px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.cards img {
    border-style: solid;
    border-color: #2f1f37;
    border-radius: 15px;
    height: 200px;
    width: 200px;
}

.cards .text {
    font-size: 14px;
    flex-wrap: wrap;
    text-align: center;
}

.info {
    max-width: 200px;
}

.information h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #2f1f37;
    margin-top: 70px;
}

.quote {
    background-color:#E5E7EB;
    padding: 100px 250px;
    font-size: 36px;
    color: #2f1f37;
    font-weight: lighter;
    font-style: italic;
}

.author {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.call-to-action {
    background-color: #493260;
    color:#E5E7EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    max-width: 100%;
    padding: 30px;
    margin: 90px 200px;
}

.call-to-action .button2 {
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    padding: 5px 15px;
}

.call-to-action h1 {
    font-size: 24px;
}

.call-to-action p {
    font-size: 14px;
}

.footer {
    color:#E5E7EB;
    text-align: center;
    padding: 40px;
}
